@charset "UTF-8";

@media screen and (min-width:767px) and (max-width:1023px ){
    main{
        flex-direction:row;
        width: 79vw;
        align-items: center;
        height: 700px;


    }

    main > #container{
        height: 700px;
        justify-content: center;
        align-items: center;
        
    }

    main > #container> h1{
        margin: 30px;
    }

    main > #container > form> .base {
        justify-content: baseline;
        background-color: white;
        margin-top: 50px;
    }

      main > #background{
        background-image: url(img/quase.png);
        width: 30%;
      }

    main > #background > img#deitado{
        display: none;
    }
    main> #background > img#quase{
        display: block;
     
    }
}

@media screen and (min-width:1024px) {

    main{
        flex-direction: row-reverse;
        width:  min(80vw, 1200px) ;
        align-items: center;
    }

    main > #container{
       width: min( 29em, 50vw) ;
       height: min(59.7vw,63.7vw,65vw,67vw,70vw, 824px);
    }

    main > #background > img#deitado{
        display: none;
    }
    main> #background > img#quase{
        display: none  ;
     
    }
    main> #background > img#inteiro{
        display: block;
        width: 100%;
      
    }
}   